<script src= "./Framework/vue.js">
</script>
<script src = "./client.js">
</script>

<style data-href = "./style.css">
 </style>
<div class="wrapper">
<form id="search">
    Search <input name="query" v-model="searchQuery">
</form>
<div id="grid-template">
    <div class="table-header-wrapper">
    <table class="table-header">
        <thead>
        <th v-for="key in columns"
            @click="sortBy(key)"
            :class="{ active: sortKey == key }"
        >
            {{ key | capitalize }}
            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
        </th>
        </thead>
    </table>
    </div>
    <div class="table-body-wrapper">
    <table class="table-body">
        <tbody>
        <tr v-for="entry in filteredData">
            <td v-for="key in columns"> {{entry[key]}}</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</div>

<script>
export default {
    name: "grid",
    props: {
        data: Array,
        columns: Array,
    },
  data(){
    return {
        searchQuery: '',
        sortKey: '',
        sortOrders: {},
        }
  },
  computed: {
        filteredData: function () {
        let sortKey = this.sortKey;
        let filterKey = this.searchQuery && this.searchQuery.toLowerCase();
        let order = this.sortOrders[sortKey] || 1;
        let data = this.data;

        if (filterKey) {
            data = data.filter(function (row) {
            return Object.keys(row).some(function (key) {
                return String(row[key]).toLowerCase().indexOf(filterKey) > -1;
            })
            })
      }
      if (sortKey) {
        data = data.slice().sort(function (a, b) {
          a = a[sortKey];
          b = b[sortKey];
          return (a === b ? 0 : a > b ? 1 : -1) * order;
        })
      }
    return data;
    },
  },
  filters: {
    capitalize: function (str) {
      return str.charAt(0).toUpperCase() + str.slice(1);
    }
  },
  methods: {
    sortBy: function (key) {
      this.sortKey = key;
      this.sortOrders[key] = this.sortOrders[key] * -1
    },
  },
  created(){
        let sortOrders = {};
        this.columns.forEach(function (key) {
        sortOrders[key] = 1;
        })
        this.sortOrders = sortOrders;
    }
}
</script>
